rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /syncSessions/{syncId} {
      allow read, write: if true;
    }
    match /searchCache/{word} {
      allow read, write: if true;
    }
  }
}
